/* Slider style */
.slider-warpper{
    position: absolute;
    top: 0px ;
    left:0px ;
    right:0px;
    bottom: 0px;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    perspective-origin: bottom ;
    overflow: hidden;
}
.footer{
    position: absolute;
    bottom: 0px;
    z-index: 100;
    color : white;
    width : 100%;
    margin-bottom: 2vw;
}